* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    background-color: rgb(9, 80, 35);
    max-width: 100%;
    min-width: 40rem;
}
body {
    display: block;
    margin: .5rem;
    min-width: 20rem;
    max-width: 100%;
    background-color: rgb(0, 0, 0);
}

h1 {
    display: block;
    background-color: rgb(56, 82, 112);
    background-image: url(../images/Twitch\ Banner\ \(Completed\).jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 100%;
    text-align: center;
    font-size: 6.25rem;
    color: rgb(71, 214, 126);
    margin: 0 0 4.188rem 0;
    background-blend-mode: multiply;
    
}

h2 {
    font-family: Helvetica;
    font-size: 3rem;
    font-weight: bold; 
    max-width: 100%;
    margin: 3.125rem 0;
    display: block;  
    color: white; 
}

p {
    font-size: 2rem;
    margin: 3.125rem 0;
    max-width: 100%;
    text-align: center;
    color: azure;
}

#devin {
    background-color: lightsteelblue;
    max-width: 100%;
}

#lee{
    background-color: lightseagreen;
    max-width: 100%;
}

#shamar {
    background-color: lightcoral;
    max-width: 100%;
    
}

#nick{
    background-color: firebrick;
    max-width: 100%;
}

#keianna {
    background-color: lightslategray;
    max-width: 100%;
}


div {
    text-align: center;
}










